$dark: #5A4632
$bg:  #fffdf1
$bg:  #eeece1

$primary:  #ffaa66
$secondary: hsl(43, 100, 65)
$surface: #f9f8f3
// $dark: #baab8d
// $base: #d0bf9f
// $accent: #E3D5B8
// $light: #F9EDDC

:root 
  --base: #{$bg}
  --accent: #{$primary}
  --light: #{$secondary}
  --dark: #{$dark}
  --surface: #{$surface}
  --text: #edc00a
  --red: #963B28
  --button-text: white
