$dark: #5A4632
$base:  #fffdf1
$accent:  #fafafa
$light: #f2bc00
// $dark: #baab8d
// $base: #d0bf9f
// $accent: #E3D5B8
// $light: #F9EDDC

:root 
  --base: #{$base}
  --accent: #{$accent}
  --light: #{$light}
  --dark: #{$dark}
  --text: #edc00a
  --red: #963B28
  --button-text: white
