
$font: Alata
$font-size-huge: 40px
$font-size-big: 30px
$font-size-heading: 20px
$font-size-special: 18px
$font-size-text: 16px
$font-size-accent: 12px
    


@mixin input-base
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

@mixin button-base
    &:hover
        cursor: pointer
        filter: brightness(90%)
