
:root 
  --white:          rgb(254, 255, 252)
  --gray:           rgb(240, 241, 245)
  --light-gray:     rgb(250, 251, 252)
  --orange:         #ffc120
  --faint-border:   rgba(0, 0, 0, .05)
  --black:          #252629
  --red:            #ff5050
  --green:          #3aab7b
  --faint-text:     #555


// corpo blue #eceff1