$base-white: #F3F4F2
$base-light: #F6F5EE
$base-main: #FFE8D6
$base-accent: #DDBEA9
$base-second: #FFD0AA
$base-dark: #FFD187

$special-base: #B7B7A4
$special-accent: #A5A58D
$special-dark: #6B705C

$atumn-dark: #C87846

$underline-dark: #9A7A68
$dark: #BCA89E
$button-common: #FFE7A4
$button-special: #FFBC50

$popup-base: #F3E8C4