
:root 
  --gray:           rgb(240, 241, 245)
  --light-gray:     rgb(250, 251, 252)
  --orange:         #f7ad4a
  --white:          rgb(254, 255, 252)
  --dark:           #E0E0E0
  --faint-border:   rgba(0, 0, 0, .05)
  --black:          #353437
  --text:           #edc00a
  --red:            #ff5050
  --yellow:         #f7e592
  --green:          #3aab7b
  --button-text:    white
