
=descriptionText
    font-family:    var(--font-family)
    font-size:      var(--font-size-small)
    opacity:        .8
    font-weight:    400
    letter-spacing: .04em
    color:          var(--black)
    line-height:    1.5rem
    
=bulletLabel
    font-family: var(--font-family)
    font-size:   var(--font-size-medium)
    opacity:     .8
    font-weight: 500
    color:       var(--black)
    line-height: 1.5rem

=bulletValue
    font-family: var(--font-family)
    font-size:   var(--font-size-medium)
    opacity:     1
    font-weight: 500
    color:       var(--black)
    line-height: 1.5rem