@use './base.sass' as *;
@use './colors.sass' as *;

@forward './colors.sass'
@forward './base.sass'

body 
    margin: 0
    background: $base-dark

html 
    overflow-y: scroll
    font-family: $font
    color: #2D1E02